.sidebar-account
  border: 1px solid $gray
  padding: $spacing
  margin-bottom: $spacing*2
  a 
    color: #000
    display: block
    &:hover 
      color: $primary
  .link-group
    margin-bottom: $spacing*2
    &:last-child 
      margin-bottom: 0  
.sidebar 
  margin-top: $spacing*2
  h3 
    font-size: 1.2em
    font-weight: 400
    color: #00ACEE
    border-bottom: 1px solid #00ACEE
    line-height: 1
    padding-bottom: 0.5em
    margin-bottom: 0.5em    
.main-content
  margin-top: $spacing*2     
.btn-group 
  .dropdown-menu
    border-radius: 0
    box-shadow: none
    border-color: $primary
    margin-top: -1px  
    padding: 0
    &>li>a:hover
      background-color: $primary
      color: #fff
    a 
      line-height: 2
      padding-left: 15px  
.category-header
  color: $primary 
  margin-bottom: $spacing*2   
.sortBy
  float: left
  margin-right: 2em
.pageView
  float: left    
  .text 
    display: block
    width: 71px
    float: left
    margin-right: 0.5em
    line-height: 1.2
.displayMode 
  float: right 
  font-size: 1.8em   
.filter-vertical
  border: 1px solid #c7c7c7
  padding: 10px 
  a
    display: block
    color: #000
    line-height: 1.6
  .fa 
    margin-right: 0.3em  
    color: $primary
  .item 
    margin-bottom: $spacing*2
  h4 
    font-weight: 600
    font-size: 1em
    margin-bottom: 0.5em  
.pagination-navigation
  border-top: 1px solid $primary    
.pagination-custom
  margin: 10px 0 $spacing*2
  &>li>a, &>li>span
    border-radius: 0
    border: none
    color: $primary
  &>li:first-child>a, &>li:first-child>span
    border-radius: 0
  &>.active.disabled>a
    color: $primary
    font-weight: 600
    background-color: #F0FBFF
  &>li>a:hover
    background-color: $primary
    color: #fff
  i 
    transition: all 0s linear  