.cart-row
  .media-body
    vertical-align: middle
    @media (min-width: 1200px)
      height: 6rem
  .media-left 
    vertical-align: middle    
  .description
    .media-left
      width: 20%
      img 
        margin: 0 auto   
  .name
    font-weight: 600
    color: #000
  .pret-unitar 
    p 
      margin: 0               
  .quantity 
    width: 4em
    text-align: center
    display: inline-block 
  .update 
    background-color: transparent
    color: $green      
  .delete-line  
    text-align: center 
    a 
      display: inline-block
      color: red  
.cart-summary
  border-top: 2px solid black
  font-weight: 600
  line-height: 2      
#cart-page 
  padding-top: 1em
  .heading
    font-size: 1.2em
    font-weight: 400
    color: #000000    
    line-height: 2   
    font-weight: 700  
.header-cos 
  border-bottom: 1px solid #eee
.rtc-cart-quantity
  background-color: rgba(2, 176, 89, 0.8)
  color: #fff
  width: 1.5rem
  height: 1.5rem
  display: block
  position: absolute
  right: 10em
  z-index: 2
  right: 0.4em
  top: 0em
  line-height: 1.5rem
  -webkit-border-radius: 100%
  border-radius: 100%
  margin-right: 0rem
  font-size: 0.7em
  font-style: normal
  font-weight: 600
