.btn
	border-radius: 0
.btn-rtc	
	background-color: #fff 
	border: 1px solid $primary
.btn-primary 
	background-color: $primary	
	color: #fff
	border-color: $primary 
	padding: 6px 20px
	&:hover 
		background-color: $secondary
.btn-group>.btn+.dropdown-toggle 
	padding-left: 10px
	padding-right: 10px	
.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover
	background-color: $secondary	