.control-label
  font-weight: 400
  vertical-align: middle
.form-control
  border-radius: 0
  outline: none 
  box-shadow: none 
  line-height: 2.5em
  height: 2.5em
  padding: 0 0.5em
  &.input-invalid 
    border-color: #FF6868
.popover  
  transition: all 0s linear
.generic-form
  margin-bottom: 2rem 
.form-notice
  border-top: 1px solid $primary
  padding-top: 0.5em
  // max-width: 270px 
  // @media (max-width: 1279px)
  //   max-width: 100% 
  span 
    color: $primary
    font-weight: 600  
.form-horizontal 
  label 
    text-align: left !important 
    font-weight: 600 !important   
  
    