.main-slider
  border: 1px solid $primary
  padding-bottom: 39px
  margin-top: 20px
  .item
    height: 380px
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    border-bottom: 1px solid $primary
  a   
    display: block
    height: 100%  
    width: 100%
.middle-slider
  border: 1px solid #cdcdcd
  .item
    height: 370px
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: right bottom
  a   
    display: block
    height: 100%  
    width: 100% 
.middle-zone    
  .unslider-arrow
    background-color: transparent
    &.next
      // left: auto
      // right: 10px
      // top: 50%
      // background-color: #000
      // color: #fff
      // width: 20px
      // text-align: center
      // height: 40px  
      // line-height: 40px
      // margin-top: -20px 
      // &:hover 
      //   background-color: $primary  
      background-image: url(../img/arrows.jpg)
      width: 56px
      background-repeat: no-repeat
      background-position: -58px 0px
      height: 257px
      position: absolute
      right: 15px
      top: 50%
      margin-top: -128px
      text-align: right
      display: block
    &.prev 
      // right: auto
      // left: 10px
      // top: 50%
      // background-color: #000
      // color: #fff
      // width: 20px
      // text-align: center
      // height: 40px  
      // line-height: 40px
      // margin-top: -20px 
      // &:hover 
      //   background-color: $primary       
      background-image: url(../img/arrows.jpg)
      width: 56px
      background-repeat: no-repeat
      background-position: 2px 0px
      height: 257px
      position: absolute
      left: 15px
      top: 50%
      margin-top: -128px 
      text-align: left
      display: block
.unslider-nav 
  position: absolute
  width: 100%
  bottom: 6px
  ol li   
    width: 20px
    height: 20px
    border-radius: 100%
    border: 2px solid #3bc9f7
    // border: none
    position: relative
    background-color: #fff
    &.unslider-active:before
     content: ""
     position: absolute
     top: 3px
     left: 3px
     width: 10px
     height: 10px
     background-color: #3bc9f7
     border-radius: 100%
    // &.unslider-active
    //   background-color: $primary

  

  