.table-account
	font-size: 0.8em
	tr 
		line-height: 2
		border-bottom: 1px solid #eee
	.sort-header	
		display: inline-block
.table-order
  td, th 
    padding: 0.2em
    border: 1px solid #aaa
  th 
    border-color: $primary
    font-weight: 400
  thead 
    background-color: $primary
    color: #fff 
  tbody 
    font-size: 0.9em       
  .form-control
    border: none 
    text-align: center
    background-color: transparent
    font-weight: 700
  .qty
    background-color: #c7eafd  
.add-to-cart-header      
  margin: 1em 0